/* type and layout */

body {
    color: #555;
    font-family: Helvetica, Arial, Sans-serif;
}
.container {
    margin: auto;
    max-width: 780px;
}
h1 {
    margin-top: 1.2em;
    margin-bottom: .3em;
    font-size: 24px;
    line-height: 1.4em;
}
p {
    margin-top: .3em;
    max-width: 500px;
    line-height: 1.5em;
}
main {
    margin-top: 2em;
}

/* inputs */

.new-cat {
    float: left;
}
.new-cat::before {
    content: '+';
    position: absolute;
    color: #00A3C3;
    font-size: 22px;
}
.new-cat-hint {
    visibility: hidden;
    font-size: 15px;
}
i {
    color: #00A3C3;
    font-style: normal;
}
.new-cat-hint.visible {
    visibility: visible;
}
.search {
    position: relative;
    float: right;
}
.search::before {
    position: absolute;
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAACIUlEQVQ4T63TXUiTYRTA8f8+NC03JJyLYaaSpkZJLbDVYlAQeKEwKISsi2ZFUJiQBF1ll0FBEQijqCAqiOiLoizpYmRZidVCtne60YW2zTk15mKfvrFFw9w7wfC5fF/O7zznPOfIRFEUWYYjWwj1jgW55/bTF5xlPJ7EXKKiSbea9lodclnujBkoHE/SOeDi+ogf8pTs0agoUsh5EghBJIahVM0dUz2VqgJJLQN19Lu4Kvygq76M89uqWKmUpwNSdfcMj3Fy0EO1upCvLXoKFX/+zT9pyOadwfTiC6fqdFw21EhmvCF4ae8X6G5Yxzl9pTTU9WGESw4vobadFOUpcjai6uFHfs2J+PY1SkOG55+JJucYatEv+n7H+51YBR8TB3agKcjPLm37syGSInxq3roodOKdQI/TS+jQrqybp3vU+d7FFcFH+KAx02QpsfbxIEI0jthqkC7t9fgUe3vtnNlYxoXG9ZK3ujvqp83m4KK+itMN5dJQ6qvF5uCme4LuzeWc3VJB/rzpu+XycnhgNB083WqgeIUyN/QzluDYWyf3v09CQT5mrZpVChmPAiHCoUgm0FKt5ZqxLmvKs1bkgWeC2x4/T1MTHU2wobgQS2Up5goNTW+GcU+HOVKtxboAy4IWe7ZAJIbppR3H1CxHa9ZgNdbyd/2WBKWSBCNxdr+yY58M/bMJS4ZS2Ew0QXPfN/aXl9CxaW26iP+CpMpfNug3qYX5y0ufY2UAAAAASUVORK5CYII=');
    top: .3em;
}
input {
    padding-left: 2em;
    width: 175px;
    height: 27px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #009DC1;
}
input:active,
input:focus,
button:active,
button:focus {
    outline: none;
}
button:focus,
button:hover {
    color: #00A3C3;
}

/* category list */

.cat-list {
    overflow: hidden;
    padding-top: 1.4em;
    padding-left: 0;
    width: 100%;
    list-style: none;
}
.cat-item {
    position: relative;
    display: inline-block;
    margin-bottom: .6em;
    margin-right: 1em;
    padding: .4em .6em 0;
    white-space: nowrap;
    vertical-align: top;
    line-height: 1.5em;
    background: #F8F8F8;
}
.cat-number {
    margin-right: .8em;
    color: #00A3C3;
    vertical-align: top;
}
.cat-name {
    overflow: hidden;
    display: inline-block;
    padding-right: 2.8em;
    word-break: break-word;
    white-space: normal;
    max-height: 1.5em;
    max-width: 7em;
}
.cat-name:hover {
    max-height: none;
    max-width: 20em;
}
.cat-remove-btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 3em;
    font-size: 16px;
    color: #858585;
    vertical-align: top;
    cursor: pointer;
    border: none;
    background: none;
}